p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
b {
    font-size: 14px;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.highlight {
    margin: 0;
    padding: 0;
}
.row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}
.row-flex-end {
    display: flex;
    justify-content: flex-end;
}
.row-default {
    display: flex;
    flex-direction: row;
    align-items: center
}
.column-default {
    display: flex;
    flex-direction: column;
}